* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    width: 100%;
}

#top, #bottom {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
#top {
    padding-top: 50px;
    height: 400px;
}
#bottom {
    padding-top: 20px;
}

.left-container, .right-container {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 5%;
}
.left-container > *, .right-container > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img-container {
    display: inline-block;
    width: 500px;
    height: 100%;
    overflow: hidden;
}
img {
    height: 100%;
    display: none;
    overflow: hidden;
}
.active {
    display: inline-block;
}